---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="column">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{ content }}

                <hr>

<br>
<hr>



<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7902219614622730"
     data-ad-slot="9152995208"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br>
<hr>

<div align='center'>

<a href="{{ site.baseurl }}/catalan">
    <img src="{{ site.baseurl }}/img/banderes/ca.png" alt="" align='right' style='float:right' height="100" width="100">
</a>


<a href="{{ site.baseurl }}/espanol">
    <img src="{{ site.baseurl }}/img/banderes/es.png" alt="" align='left' style='float:left' height="100" width="100">
</a>

<div id='content' align='center'>
<a href="{{ site.baseurl }}/english">
    <img src="{{ site.baseurl }}/img/banderes/en.png" alt="" align='center' height="100" width="100">
</a>

</div>
</div>

<!-- Previous / next page 

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                -->

            </div>
            <div class="column">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Right side minimalist wide skyscraper -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:160px;height:600px"
                     data-ad-client="ca-pub-7902219614622730"
                     data-ad-slot="5414662803"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>

</article>

<hr>
